@model TransLedger.Models.EntityAccountViewModel
@using System.Data;

@{
    string alertType = TempData["AlertType"]?.ToString() ?? "";
    string alertMsg = TempData["AlertMsg"]?.ToString() ?? "";
    DataTable dt = ViewBag.List;
}

<div class="d-flex flex-column flex-md-row justify-content-md-between mb-5">
    <div>
        <h2>
            <strong>Accounts</strong>
        </h2>
        @* <p class="text-muted">Record a payment transaction</p> *@
    </div>
    <div class="text-md-end mt-3 mt-md-0">
        <button type="button" class="btn btn-dark" id="btnNewAccount">
            <i class="bi bi-plus-lg"></i> New Account
        </button>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(alertMsg))
{
    <div class="alert alert-@alertType">@alertMsg</div>
}

<div class="card shadow-sm border-0 mb-5 d-none" id="formView">
    <div class="card-body p-4">
        <div class="mb-4">
            <h4>
                <strong>Account Details</strong>
            </h4>
            <p class="text-muted">Enter the details of the account</p>
        </div>

        <form action="/account/add" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Account Name</label><span class="text-danger">*</span>
                    <input class="form-control" placeholder="Enter Account Name" asp-for="Name" required/>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Account Number</label><span class="text-danger">*</span>
                    <input class="form-control" maxlength="20" onkeypress="return (event.charCode >= 48 && event.charCode <= 57);" placeholder="Enter Account Number" asp-for="AccountNumber" required />
                </div>

               @*  <div class="col-md-6 mb-3">
                    <label class="form-label">Account Type</label>
                    <select class="form-control" asp-for="AccountType">
                        <option value="">Select Account Type</option>
                        <option value="ASSET">Asset</option>
                        <option value="LIABILITY">Liability</option>
                        <option value="INCOME">Income</option>
                        <option value="EXPENSE">Expense</option>
                        <option value="EQUITY">Equity</option>
                    </select>
                </div> *@

                <div class="col-md-6 mb-3">
                    <label class="form-label">Opening Balance</label><span class="text-danger">*</span>
                    <input class="form-control" maxlength="9" onkeypress="return (event.charCode >= 48 && event.charCode <= 57);" placeholder="0.00" asp-for="OpeningBalance" required />
                </div>

                <div class="col-6 mb-3">
                    <label>Op. Bal. Type</label>
                    <div class="d-flex gap-4 mt-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="paymentTypeCredit" asp-for="OpeningBalanceType" value="true" checked="true">
                            <label class="form-check-label" for="paymentTypeCredit">
                                <span class="text-success"><i class="bi bi-currency-rupee"></i></span> Credit
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="paymentTypeDebit" asp-for="OpeningBalanceType" value="false">
                            <label class="form-check-label" for="paymentTypeDebit">
                                <span class="text-danger"><i class="bi bi-credit-card-2-back"></i></span> Debit
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-end mt-3">
                <button type="reset" class="btn btn-outline-dark" id="btnCancel">Cancel</button>
                <button type="submit" class="btn btn-dark">Add Account</button>
            </div>
        </form>
    </div>
</div>

<div class="card shadow-sm border-0">
    <div class="table-responsive">
        <table class="table table-hover align-middle">

            <thead>
                <tr>
                    <th width="60"></th>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Opening Balance</th>
                    <th width="140">Action</th>
                </tr>
            </thead>

            <tbody id="uxAccounListtbody">
                @if (dt != null && dt.Rows.Count > 0)
                {
                    int i = 1;
                    foreach(DataRow row in dt.Rows)
                    {
                        string opBal = "";
                        if(row["OpeningBalance"] != DBNull.Value)
                        {
                            opBal = Convert.ToDecimal(row["OpeningBalance"]).ToString("0.00");
                        }

                        <tr data-id="@row["EntityAccountId"]">
                            <td>@i</td>
                            <td>@row["Name"]</td>
                            <td>@row["AccountNumber"]</td>
                            <td>@opBal @row["OpeningBalanceType"]</td>
                            <td width="140">
                                <div class="d-flex gap-3">
                                    <a class="text-muted fs-6" href="#" onclick="DeleteRow(this,@row["EntityAccountId"])">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                   @*  <a class="text-muted fs-6" href="#" onclick="">
                                        <i class="bi bi-pencil-square"></i>
                                    </a> *@
                                </div>
                            </td>
                        </tr>

                        i++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="py-5">
                            <h6 class="text-center text-muted"><b>No data present.</b></h6>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function DeleteRow(selectElement,rowid){
            $.ajax({
                url:'/account/DeleteAccounts',
                type : "POST",
                data: { rowid: rowid},
                success:function(response){
                    if(response.success){
                        genereatetbody(response.data)
                    }
                    else
                    {
                        console.log(response.message)
                        console.log(response)
                    }
                },
                error:function(xhr, status, error){
                      alert("error : - " + error);
                }
            })
        }

        function genereatetbody(data){
            console.log("DATA:", data);
            $("#uxAccounListtbody").empty();

            if (!data || data.length === 0) {
                $("#uxAccounListtbody").html(`
                    <tr>
                        <td colspan="7" class="text-center text-danger">
                            No data found
                        </td>
                    </tr>
                `);
                return;
            }

            let html = "";
            let i = 1;

            $.each(data, function (index, item) {
                console.log("ITEM:", item);
                html += `
                    <tr class="trip-row" data-id="${item.entityaccountid ?? ""}">
                        <td>${i ?? ""}</td>
                        <td>${item.name ?? ""}</td>
                        <td>${item.accountNumber ?? ""}</td>
                        <td>${item.openingBalanceType ?? ""}</td>
                         <td width="140">
                                <div class="d-flex gap-3">
                                    <a class="text-muted fs-6" href="#" onclick="DeleteRow(this,${item.entityaccountid ?? ""})">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </div>
                            </td>
                    </tr>`;
                i++;
            });
            console.log(html)
            $('#uxAccounListtbody').html(html);
        }
        

        $("#btnNewAccount").on("click", () => {
            $("form input[type='text']").val("");
            $("form input[type='number']").val("");
            $("form select").val("");
            $("#paymentTypeCredit, #paymentTypeDebit").prop("checked", false);
            $("#formView").removeClass("d-none");
        })
        
        $("#btnCancel").on("click", () => {
            $("#formView").addClass("d-none");
        })
    </script>
}